{% if page.language == "en" %}
<div class="row">
      <div class="col-xxs-9">
L
      </div>
      <div class="col-xxs-3">
R
      </div>
    </div>

<form action="/en/Search/" method="get">
<div class="row">
      <div class="col-xxs-12 col-xs-12 col-s-9 col-m-9 col-l-9">
        <input type="text" name="q" id="tipue_search_input" autocomplete="off" placeholder="Search term" required>
      </div>
      <div class="col-xxs-12 col-xs-12 col-s-3 col-m-3 col-l-3">
        <input type="submit" value="Search">
      </div>
    </div>
  </form>
{% endif %}
