{% if page.product == "MAMP PRO Windows" and page.language == "en" %}
<ul class="no-bullets">
	<li>
		<a href="/en/MAMP-PRO-Windows/Installation/"{% if page_url contains "/en/MAMP-PRO-Windows/Installation/" %} class="active"{% endif %}>Installing, Updating And Upgrading</a>
		{% if page_url contains "/en/MAMP-PRO-Windows/Installation/" %}
						<ul class="no-bullets">
							<li><a href="/en/MAMP-PRO-Windows/Installation/New-Install/"{% if page_url contains "/en/MAMP-PRO-Windows/Installation/New-Install/" %} class="active"{% endif %}>New Installation</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Installation/MAMP-PRO-3xx-4xx-Upgrade/"{% if page_url contains "/en/MAMP-PRO-Windows/Installation/MAMP-PRO-3xx-4xx-Upgrade/" %} class="active"{% endif %}>MAMP PRO 3.x to 4.x Upgrade</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Installation/MAMP-PRO-4xx-4xx-Upgrade/"{% if page_url contains "/en/MAMP-PRO-Windows/Installation/MAMP-PRO-4xx-4xx-Upgrade/" %} class="active"{% endif %}>MAMP PRO 4.xx to 4.xx Upgrade</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Installation/MAMP-MAMP-PRO-Upgrade/"{% if page_url contains "/en/MAMP-PRO-Windows/Installation/MAMP-MAMP-PRO-Upgrade/" %} class="active"{% endif %}>MAMP To MAMP PRO Upgrade</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Installation/Uninstall/"{% if page_url contains "/en/MAMP-PRO-Windows/Installation/Uninstall/" %} class="active"{% endif %}>Uninstall MAMP PRO</a></li>
						</ul>
		{% endif %}
		
	</li>

	<li><a href="/en/MAMP-PRO-Windows/First-Steps/"{% if page_url contains "/en/MAMP-PRO-Windows/First-Steps/" %} class="active"{% endif %}>First Steps</a></li>
	<li>
		<a href="/en/MAMP-PRO-Windows/Settings/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/" %} class="active"{% endif %}>Settings</a>
		{% if page_url contains "/en/MAMP-PRO-Windows/Settings/" %}
		<ul class="no-bullets">
			<li>
				<a href="/en/MAMP-PRO-Windows/Settings/Hosts/"{% if page_url contains "/en/MAMP-PRO-/Settings/Hosts/" %} class="active"{% endif %}>Hosts</a>
				{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/" %}
				<ul class="no-bullets">
					<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/General/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/General/" %} class="active"{% endif %}>General</a></li>
					<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Apache/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Apache/" %} class="active"{% endif %}>Apache</a></li>
					<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Nginx/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Nginx/" %} class="active"{% endif %}>Nginx</a></li>
					<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/SSL/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/SSL/" %} class="active"{% endif %}>SSL</a></li>
					<li>
						<a href="/en/MAMP-PRO-Windows/Settings/Hosts/Extras/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Extras/" %} class="active"{% endif %}>Extras</a>
						{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Extras/" %}
						<ul class="no-bullets">
							<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Extras/WordPress/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Extras/WordPress/" %} class="active"{% endif %}>WordPress</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Extras/Joomla/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Extras/Joomla/" %} class="active"{% endif %}>Joomla</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Extras/Drupal/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Extras/Drupal/" %} class="active"{% endif %}>Drupal</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Extras/webEdition/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Extras/webEdition/" %} class="active"{% endif %}>webEdition</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Extras/Mediawiki/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Extras/Mediawiki/" %} class="active"{% endif %}>Mediawiki</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Extras/phpBB/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Extras/phpBB/" %} class="active"{% endif %}>phpBB</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Extras/PrestaShop/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Extras/PrestaShop/" %} class="active"{% endif %}>PrestaShop</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Extras/Concrete5/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Extras/Concrete5/" %} class="active"{% endif %}>Concrete5</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Extras/Grav/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Extras/Grav/" %} class="active"{% endif %}>Grav</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Extras/ForkCMS/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Extras/ForkCMS/" %} class="active"{% endif %}>ForkCMS</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Extras/Bootstrap/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Extras/Bootstrap/" %} class="active"{% endif %}>Bootstrap</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Extras/opencart/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Extras/opencart/" %} class="active"{% endif %}>opencart</a></li>
							<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Extras/webEdition/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Extras/webEdition/" %} class="active"{% endif %}>webEdition</a></li>
						</ul>
						{% endif %}
					</li>
					<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/Databases/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/Databases/" %} class="active"{% endif %}>Databases</a></li>
					<li><a href="/en/MAMP-PRO-Windows/Settings/Hosts/General/#host_table/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Hosts/General/#host_table/" %} class="active"{% endif %}>Hosts Table</a></li>

				</ul>
				{% endif %}
			</li>
			<li><a href="/en/MAMP-PRO-Windows/Settings/Ports/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Ports/" %} class="active"{% endif %}>Ports</a></li>
			<li><a href="/en/MAMP-PRO-Windows/Settings/Editor/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Editor/" %} class="active"{% endif %}>Editor</a></li>
			<li><a href="/en/MAMP-PRO-Windows/Settings/Cloud/"{% if page_url contains "/en/MAMP-PRO-Windows/Settings/Cloud/" %} class="active"{% endif %}>Cloud</a></li>

		</ul>
		{% endif %}
	</li>
	<li>
		<a href="/en/MAMP-PRO-Windows/Servers-and-Services/"{% if page_url contains "/en/MAMP-PRO-Windows/Servers-and-Services/" %} class="active"{% endif %}>Servers and Services</a>
		{% if page_url contains "/en/MAMP-PRO-Windows/Servers-and-Services/" %}
		<ul class="no-bullets">
			<li><a href="/en/MAMP-PRO-Windows/Servers-and-Services/Apache/"{% if page_url contains "/en/MAMP-PRO-Windows/Servers-and-Services/Apache/" %} class="active"{% endif %}>Apache</a></li>
			<li><a href="/en/MAMP-PRO-Windows/Servers-and-Services/Nginx/"{% if page_url contains "/en/MAMP-PRO-Windows/Servers-and-Services/Nginx/" %} class="active"{% endif %}>Nginx</a></li>
			<li><a href="/en/MAMP-PRO-Windows/Servers-and-Services/MySQL/"{% if page_url contains "/en/MAMP-PRO-Windows/Servers-and-Services/MySQL/" %} class="active"{% endif %}>MySQL</a></li>
			<li><a href="/en/MAMP-PRO-Windows/Servers-and-Services/Dynamic-DNS/"{% if page_url contains "/en/MAMP-PRO-Windows/Servers-and-Services/Dynamic-DNS/" %} class="active"{% endif %}>Dynamic DNS</a></li>
			<li><a href="/en/MAMP-PRO-Windows/Servers-and-Services/Memcached/"{% if page_url contains "/en/MAMP-PRO-Windows/Servers-and-Services/Memcached/" %} class="active"{% endif %}>Memcached</a></li>
			<li><a href="/en/MAMP-PRO-Windows/Servers-and-Services/Postfix/"{% if page_url contains "/en/MAMP-PRO-Windows/Servers-and-Services/Postfix/" %} class="active"{% endif %}>SMTP</a></li>
		</ul>
		{% endif %}
	</li>
	<li>
		<a href="/en/MAMP-PRO-Windows/Languages/"{% if page_url contains "/en/MAMP-PRO-Windows/Languages/" %} class="active"{% endif %}>Languages</a>
		{% if page_url contains "/en/MAMP-PRO-Windows/Languages/" %}
		<ul class="no-bullets">
			<li><a href="/en/MAMP-PRO-Windows/Languages/PHP/"{% if page_url contains "/en/MAMP-PRO-Windows/Languages/PHP/" %} class="active"{% endif %}>PHP</a></li>
			<li><a href="/en/MAMP-PRO-Windows/Languages/Python/"{% if page_url contains "/en/MAMP-PRO-Windows/Languages/Python/" %} class="active"{% endif %}>Python</a></li>
			<li><a href="/en/MAMP-PRO-Windows/Languages/Perl/"{% if page_url contains "/en/MAMP-PRO-Windows/Languages/Perl/" %} class="active"{% endif %}>Perl</a></li>
			<li><a href="/en/MAMP-PRO-Windows/Languages/Ruby/"{% if page_url contains "/en/MAMP-PRO-Windows/Languages/Ruby/" %} class="active"{% endif %}>Ruby</a></li>
		</ul>
		{% endif %}
	</li>
	<li><a href="/en/MAMP-PRO-Windows/Editor/"{% if page_url contains "/en/MAMP-PRO-Windows/Editor/" %} class="active"{% endif %}>Editor</a></li>
	<li><a href="/en/MAMP-PRO-Windows/WebStart/"{% if page_url contains "/en/MAMP-PRO-Windows/WebStart/" %} class="active"{% endif %}>WebStart</a></li>
	<li>
		<a href="/en/MAMP-PRO-Windows/Menu/"{% if page_url contains "/en/MAMP-PRO-Windows/Menu/" %} class="active"{% endif %}>Menu</a>
		{% if page_url contains "/en/MAMP-PRO-Windows/Menu/" %}
		<ul class="no-bullets">
			<li><a href="/en/MAMP-PRO-Windows/Menu/File/"{% if page_url contains "/en/MAMP-PRO-Windows/Menu/File/" %} class="active"{% endif %}>File</a></li>
			<li><a href="/en/MAMP-PRO-Windows/Menu/Tools/"{% if page_url contains "/en/MAMP-PRO-Windows/Menu/Tools/" %} class="active"{% endif %}>Tools</a></li>
			<li><a href="/en/MAMP-PRO-Windows/Menu/View/"{% if page_url contains "/en/MAMP-PRO-Windows/Menu/View/" %} class="active"{% endif %}>View</a></li>
			<li><a href="/en/MAMP-PRO-Windows/Menu/Help/"{% if page_url contains "/en/MAMP-PRO-Windows/Menu/Help/" %} class="active"{% endif %}>Help</a></li>

		</ul>
		{% endif %}
	</li>
	
	<li>
		<a href="/en/MAMP-PRO-Windows/Troubleshooting/"{% if page_url contains "/en/MAMP-PRO-Windows/Troubleshooting/" %} class="active"{% endif %}>Troubleshooting</a>
		{% if page_url contains "/en/MAMP-PRO-Windows/Troubleshooting/" %}
		<ul class="no-bullets">
			<li><a href="/en/MAMP-PRO-Windows/Troubleshooting/General/"{% if page_url contains "/en/MAMP-PRO-Windows/Troubleshooting/General/" %} class="active"{% endif %}>General</a></li>
			<li><a href="/en/MAMP-PRO-Windows/Troubleshooting/WordPress/"{% if page_url contains "/en/MAMP-PRO-Windows/Troubleshooting/WordPress/" %} class="active"{% endif %}>WordPress</a></li>
			<li><a href="/en/MAMP-PRO-Windows/Troubleshooting/Databases/"{% if page_url contains "/en/MAMP-PRO-Windows/Troubleshooting/Databases/" %} class="active"{% endif %}>MySQL and Databases</a></li>
		</ul>	
		{% endif %}
	</li>
	<li>
		<a href="/en/MAMP-PRO-Windows/How-Tos/"{% if page_url contains "/en/MAMP-PRO-Windows/How-Tos/" %} class="active"{% endif %}>How-Tos</a>
		{% if page_url contains "/en/MAMP-PRO-Windows/How-Tos/" %}
			<ul class="no-bullets">	
				<li><a href="/en/MAMP-PRO-Windows/How-Tos/General/"{% if page_url contains "/en/MAMP-PRO-Windows/How-Tos/General/" %} class="active"{% endif %}>General</a></li>
				<li><a href="/en/MAMP-PRO-Windows/How-Tos/MySQL/"{% if page_url contains "/en/MAMP-PRO-Windows/How-Tos/MySQL/" %} class="active"{% endif %}>MySQL</a></li>
			</ul>	
		{% endif %}	
	
	</li>
	<li>
		<a href="/en/MAMP-PRO-Windows/FAQ/"{% if page_url contains "/en/MAMP-PRO-Windows/FAQ/" %} class="active"{% endif %}>FAQ</a>
		{% if page_url contains "/en/MAMP-PRO-Windows/FAQ/" %}
			<ul class="no-bullets">	
				<li><a href="/en/MAMP-PRO-Windows/FAQ/General/"{% if page_url contains "/en/MAMP-PRO-Windows/FAQ/General/" %} class="active"{% endif %}>General</a></li>
				<li><a href="/en/MAMP-PRO-Windows/FAQ/MySQL/"{% if page_url contains "/en/MAMP-PRO-Windows/FAQ/MySQL/" %} class="active"{% endif %}>MySQL</a></li>
			</ul>	
		{% endif %}		
	</li>
	<li><a href="/en/MAMP-PRO-Windows/Videos/"{% if page_url contains "/en/MAMP-PRO-Windows/Videos/" %} class="active"{% endif %}>Video Documentation</a></li>
	<li><a href="/en/MAMP-PRO-Windows/MAMP-Viewer/"{% if page_url contains "/en/MAMP-PRO-Windows/MAMP-Viewer/" %} class="active"{% endif %}>MAMP Viewer</a></li>
</ul>
{% endif %}
