{% if page.product == "MAMP Mac" and page.language == "en" %}
<ul class="no-bullets">
	<li><a href="/en/MAMP-Mac/Installation/"{% if page_url contains "/en/MAMP-Mac/Installation/" %} class="active"{% endif %}>Installation</a></li>
	<li><a href="/en/MAMP-Mac/First-Steps/"{% if page_url contains "/en/MAMP-Mac/First-Steps/" %} class="active"{% endif %}>First-Steps</a></li>
	<li><a href="/en/MAMP-Mac/Preferences/"{% if page_url contains "/en/MAMP-Mac/Preferences/" %} class="active"{% endif %}>Preferences</a></li>
	<li><a href="/en/MAMP-Mac/FAQ/"{% if page_url contains "/en/MAMP-Mac/FAQ/" %} class="active"{% endif %}>FAQ</a></li>
	<li><a href="/en/MAMP-Mac/How-Tos/"{% if page_url contains "/en/MAMP-Mac/How-Tos/" %} class="active"{% endif %}>How-Tos</a></li>
</ul>
{% endif %}
