{% if page.product == "MAMP PRO Mac" and page.language == "en" %}
<ul class="no-bullets">
	<li>
		<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Installation/">Installing And Upgrading</a>
		{% if page_url contains "/en/MAMP-PRO-Mac/Installation/" %}
						<ul class="no-bullets">
							<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Installation/WordPress/">New Installation</a></li>
							<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Installation/Joomla/">MAMP PRO 3.x to 4.x Upgrade</a></li>
							<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Installation/MAMP/">MAMP PRO 4.xx to 4.xx Upgrade</a></li>
							<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Installation/MAMP-MAMP-PRO-Upgrade/">MAMP To MAMP PRO Upgrade</a></li>
							<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Installation/Uninstall/">Uninstall MAMP PRO</a></li>
						</ul>
		{% endif %}
		
	</li>

	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/First-Steps/">First Steps</a></li>
	<li>
		<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/">Settings</a>
		{% if page_url contains "/en/MAMP-PRO-Mac/Settings/" %}
		<ul class="no-bullets">
			<li>
				<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/">Hosts</a>
				{% if page_url contains "/en/MAMP-PRO-Mac/Settings/Hosts/" %}
				<ul class="no-bullets">
					<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/General/">General</a></li>
					<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/Apache/">Apache</a></li>
					<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/Nginx/">Nginx</a></li>
					<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/SSL/">SSL</a></li>
					<li>
						<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/Extras/">Extras</a>
						{% if page_url contains "/en/MAMP-PRO-Mac/Settings/Hosts/Extras/" %}
						<ul class="no-bullets">
							<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/Extras/WordPress/">WordPress</a></li>
							<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/Extras/Joomla/">Joomla</a></li>
							<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/Extras/Drupal/">Drupal</a></li>
							<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/Extras/webEdition/">webEdition</a></li>
							<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/Extras/Magento/">Magento</a></li>
							<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/Extras/Mediawiki/">Mediawiki</a></li>
							<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/Extras/phpBB/">phpBB</a></li>
							<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/Extras/PrestaShop/">PrestaShop</a></li>
						</ul>
						{% endif %}
					</li>
				</ul>
				{% endif %}
			</li>
			<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Ports/">Ports</a></li>
			<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Editor/">Editor</a></li>
		</ul>
		{% endif %}
	</li>
	<li>
		<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Servers-and-Services/">Servers and Services</a>
		{% if page_url contains "/en/MAMP-PRO-Mac/Servers-and-Services/" %}
		<ul class="no-bullets">
			<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Servers-and-Services/Apache/">Apache</a></li>
			<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Servers-and-Services/Nginx/">Nginx</a></li>
			<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Servers-and-Services/MySQL/">MySQL</a></li>
			<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Servers-and-Services/Dynamic-DNS/">Dynamic DNS</a></li>
			<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Servers-and-Services/Postfix/">Postfix</a></li>
		</ul>
		{% endif %}
	</li>
	<li>
		<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Languages/">Languages</a>
		{% if page_url contains "/en/MAMP-PRO-Mac/Languages/" %}
		<ul class="no-bullets">
			<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Languages/PHP/">PHP</a></li>
			<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Languages/Python/">Python</a></li>
			<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Languages/Perl/">Perl</a></li>
			<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Languages/Ruby/">Ruby</a></li>
		</ul>
		{% endif %}
	</li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Customize/">Customize</a></li>
	<li>
		<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Menu/">Menu</a>
		{% if page_url contains "/en/MAMP-PRO-Mac/Menu/" %}
		<ul class="no-bullets">
			<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Menu/MAMP-PRO/">MAMP PRO</a></li>
			<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Menu/File/">File</a></li>
			<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Menu/Tools/">Tools</a></li>
			<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Menu/Window/">Window</a></li>
		</ul>
		{% endif %}
	</li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Editor/">Editor</a></li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/WebStart/">WebStart</a></li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Troubleshooting/">Troubleshooting</a></li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/How-Tos/">How-Tos</a></li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/FAQ/">FAQ</a></li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Videos/">Video Documentation</a></li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/MAMP-Viewer/">MAMP Viewer</a></li>
</ul>
{% endif %}
