<!DOCTYPE html>
<html>
 	{% include head.html %}
 	<body>
 		<div class="container">
			{% include header.html %}
			<div class="row">
				<div class="col-xxs-12 col-xs-12 col-s-3 col-m-3 col-l-3 sidebar">
{% if page.product == "MAMP PRO Mac" and page.language == "en" %}
<ul class="no-bullets">
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/What-is-MAMP-PRO/">What is MAMP PRO</a></li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Installation/">Installation</a></li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/First-Steps/">First Steps</a></li>
	<li>
		<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/">Settings</a>
		<ul class="no-bullets" style="margin-left: 20px;">
			<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/">Hosts</a>
			<ul class="no-bullets" style="margin-left: 20px;">
				<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/General/">General</a></li>
				<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/Apache/">Apache</a></li>
				<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/Nginx/">Nginx</a></li>
				<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/SSL/">SSL</a></li>
				<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Hosts/Extras/">Extras</a></li>
			</ul>
			<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Ports/">Ports</a>
			<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Settings/Editor/">Editor</a>
		</ul>
	</li>
	<li>
		<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Servers-and-Services/">Servers and Services</a>
		<ul class="no-bullets" style="margin-left: 20px;">
			<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Servers-and-Services/Apache/">Apache</a>
			<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Servers-and-Services/Nginx/">Nginx</a>
			<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Servers-and-Services/MySQL/">MySQL</a>
			<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Servers-and-Services/Dynamic-DNS/">Dynamic DNS</a>
			<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Servers-and-Services/Postfix/">Postfix</a>
		</ul>
	</li>
	<li>
		<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Languages/">Languages</a>
		<ul class="no-bullets" style="margin-left: 20px;">
			<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Languages/PHP/">PHP</a>
			<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Languages/Python/">Python</a>
			<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Languages/Perl/">Perl</a>
			<a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Languages/Ruby/">Ruby</a>
		</ul>
	</li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Customise/">Customise</a></li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Menu/">Menu</a></li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Editor/">Editor</a></li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/Troubleshooting/">Troubleshooting</a></li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/How-Tos/">How-Tos</a></li>
	<li><a href="/MAMP-MAMP-PRO-Documentation/en/MAMP-PRO-Mac/FAQ/">FAQ</a></li>
</ul>
{% endif %}

				</div>
				<div class="col-xxs-12 col-xs-12 col-s-9 col-m-9 col-l-9" id="content">
					<main>
						{{ content }}
					</main>
				</div>
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>
