{% if page.product == "MAMP PRO Mac" and page.language == "de" %}
<ul class="no-bullets">
	<li>
		<a href="/de/MAMP-PRO-Mac/Installation/">Installation</a>
		{% if page_url contains "/de/MAMP-PRO-Mac/Installation/" %}
			<ul class="no-bullets">
				<li><a href="/de/MAMP-PRO-Mac/Installation/Neu-Installation/">MAMP PRO Neu Installieren</a></li>
				<li><a href="/de/MAMP-PRO-Mac/Installation/MAMP-PRO-Upgrade-3x-4x/">MAMP PRO Upgrade 3.xx to 4.xx</a></li>
				<li><a href="/de/MAMP-PRO-Mac/Installation/MAMP-PRO-Upgrade-4x-4x/">MAMP PRO Upgrade 4.xx to 4.xx </a></li>
				<li><a href="/de/MAMP-PRO-Mac/Installation/MAMP-MAMP-PRO-Upgrade/">MAMP To MAMP PRO Upgrade</a></li>
				<li><a href="/de/MAMP-PRO-Mac/Installation/Uninstall/">Un-Installieren</a></li>
				<li><a href="/de/MAMP-PRO-Mac/Installation/Updates/">In-App Updates</a></li>
			</ul>
		{% endif %}
	</li>
	<li><a href="/de/MAMP-PRO-Mac/Erste-Schritte/">Erste Schritte</a></li>
	<li>
		<a href="/de/MAMP-PRO-Mac/Einstellungen/">Einstellungen</a>
		{% if page_url contains "/de/MAMP-PRO-Mac/Einstellungen/" %}
		<ul class="no-bullets">
			<li>
				<a href="/de/MAMP-PRO-Mac/Einstellungen/Hosts/">Hosts</a>
				{% if page_url contains "/de/MAMP-PRO-Mac/Einstellungen/Hosts/" %}
				<ul class="no-bullets">
					<li><a href="/de/MAMP-PRO-Mac/Einstellungen/Hosts/Allgemein/">Allgemein</a></li>
					<li><a href="/de/MAMP-PRO-Mac/Einstellungen/Hosts/Apache/">Apache</a></li>
					<li><a href="/de/MAMP-PRO-Mac/Einstellungen/Hosts/Nginx/">Nginx</a></li>
					<li><a href="/de/MAMP-PRO-Mac/Einstellungen/Hosts/SSL/">SSL</a></li>
					<li>
						<a href="/de/MAMP-PRO-Mac/Einstellungen/Hosts/Extras/">Extras</a>
						{% if page_url contains "/de/MAMP-PRO-Mac/Einstellungen/Hosts/Extras/" %}
						<ul class="no-bullets">
							<li><a href="/de/MAMP-PRO-Mac/Einstellungen/Hosts/Extras/WordPress/">WordPress</a></li>
							<li><a href="/de/MAMP-PRO-Mac/Einstellungen/Hosts/Extras/Joomla/">Joomla</a></li>
							<li><a href="/de/MAMP-PRO-Mac/Einstellungen/Hosts/Extras/Drupal/">Drupal</a></li>
							<li><a href="/de/MAMP-PRO-Mac/Einstellungen/Hosts/Extras/webEdition/">webEdition</a></li>
							<li><a href="/de/MAMP-PRO-Mac/Einstellungen/Hosts/Extras/Magento/">Magento</a></li>
							<li><a href="/de/MAMP-PRO-Mac/Einstellungen/Hosts/Extras/Mediawiki/">Mediawiki</a></li>
							<li><a href="/de/MAMP-PRO-Mac/Einstellungen/Hosts/Extras/phpBB/">phpBB</a></li>
							<li><a href="/de/MAMP-PRO-Mac/Einstellungen/Hosts/Extras/PrestaShop/">PrestaShop</a></li>
						</ul>
						{% endif %}
					</li>
				</ul>
				{% endif %}
			</li>
			<li><a href="/de/MAMP-PRO-Mac/Einstellungen/Ports/">Ports</a></li>
			<li><a href="/de/MAMP-PRO-Mac/Einstellungen/Editor/">Editor</a></li>
		</ul>
		{% endif %}
	</li>
	<li>
		<a href="/de/MAMP-PRO-Mac/Servers-und-Services/">Servers und Services</a>
		{% if page_url contains "/de/MAMP-PRO-Mac/Servers-und-Services/" %}
		<ul class="no-bullets">
			<li><a href="/de/MAMP-PRO-Mac/Servers-und-Services/Apache/">Apache</a></li>
			<li><a href="/de/MAMP-PRO-Mac/Servers-und-Services/Nginx/">Nginx</a></li>
			<li><a href="/de/MAMP-PRO-Mac/Servers-und-Services/MySQL/">MySQL</a></li>
			<li><a href="/de/MAMP-PRO-Mac/Servers-und-Services/Dynamic-DNS/">Dynamic DNS</a></li>
			<li><a href="/de/MAMP-PRO-Mac/Servers-und-Services/Postfix/">Postfix</a></li>
		</ul>
		{% endif %}
	</li>
	<li>
		<a href="/de/MAMP-PRO-Mac/Sprachen/">Sprachen</a>
		{% if page_url contains "/de/MAMP-PRO-Mac/Sprachen/" %}
		<ul class="no-bullets">
			<li><a href="/de/MAMP-PRO-Mac/Sprachen/PHP/">PHP</a></li>
			<li><a href="/de/MAMP-PRO-Mac/Sprachen/Python/">Python</a></li>
			<li><a href="/de/MAMP-PRO-Mac/Sprachen/Perl/">Perl</a></li>
			<li><a href="/de/MAMP-PRO-Mac/Sprachen/Ruby/">Ruby</a></li>
		</ul>
		{% endif %}
	</li>
	<li><a href="/de/MAMP-PRO-Mac/Anpassen/">Anpassen</a></li>
	
	<li><a href="/de/MAMP-PRO-Mac/Editor/">Editor</a></li>
	<li><a href="/de/MAMP-PRO-Mac/WebStart/">WebStart</a></li>
	
	<li>
		<a href="/de/MAMP-PRO-Mac/Menue/">Menue</a>
		{% if page_url contains "/de/MAMP-PRO-Mac/Menue/" %}
		<ul class="no-bullets">
			<li><a href="/de/MAMP-PRO-Mac/Menue/MAMP-PRO/">MAMP PRO</a></li>
			<li><a href="/de/MAMP-PRO-Mac/Menue/Ablage/">Ablage</a></li>
			<li><a href="/de/MAMP-PRO-Mac/Menue/Tools/">Tools</a></li>
			<li><a href="/de/MAMP-PRO-Mac/Menue/Fenster/">Fenster</a></li>
		</ul>
		{% endif %}
	</li>
	<li><a href="/de/MAMP-PRO-Mac/Troubleshooting/">Troubleshooting</a></li>
	<li><a href="/de/MAMP-PRO-Mac/Anleitungen/">Anleitungen</a></li>
	<li><a href="/de/MAMP-PRO-Mac/FAQ/">FAQ</a></li>
</ul>
{% endif %}
